body {
    background-color: rgb(36, 42, 42);
    color:  #ffffff;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 2em;
    padding: 1em;
}

.table-container {

}

table {
    font-size: 1.3em;
    font-weight: 600;
}



td {
    width: 1.4em;
    height: 1.4em;
    border: 1px solid rgba(255, 255, 255, 0.047);
    text-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 1px; 
}

.green-cell {
    background-color: rgba(0, 128, 0, 0.381);
}

td:hover {
    background-color: rgba(240, 248, 255, 0.215);
}

footer {
    color: rgba(155, 169, 169, 0.959);
    margin-top: 12vw;
    text-align: center;
}

footer a {
    
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    transition: 200ms;
    color: rgba(144, 193, 193, 0.959);;
} 

@keyframes animation {
    0%, 100% {
        background-color: rgba(0, 38, 255, 0);
    }
    50% {
        background-color: rgba(255, 0, 0, 0.134);
    }
}